* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {

    text-decoration: none;
}

li {
    list-style: none;
}

/* NAVBAR STYLING STARTS */

.navbar {

    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 20px;
    width: 100%;



    color: rgb(244, 241, 222);

    position: -webkit-sticky;
    position: sticky;
    top: 0;

}

.nav-links a {

    color: #fff;

}

/* LOGO */

.logo {

    font-size: 32px;

}

/* NAVBAR MENU */

.menu {

    display: flex;

    gap: 1em;

    font-size: 18px;

}

.menu li:hover {

    background-color: #4c9e9e;

    border-radius: 5px;

    transition: 0.3s ease;

}

.menu li {

    padding: 5px 14px;

}

/* DROPDOWN MENU */

.services {

    position: relative;

}

.services:hover .dropdown {

    display: block;

}

img {
    display: block;
    width: 100%;
    max-width: 1500px;
}

body {
    background-image: url(https://images.unsplash.com/photo-1667826385031-2b4d06d686d8?crop=entropy&cs=tinysrgb&fm=jpg&ixid=MnwzMjM4NDZ8MHwxfHJhbmRvbXx8fHx8fHx8fDE2Njk2MDMyODU&ixlib=rb-4.0.3&q=80);
    color: white;
    width: 100%;
    margin: 0;
}

section {
    margin: 5rem 2rem;
}

/* Section One */

.section-one {
    margin: 11rem 2rem 0;
}

.header {
    font-size: 4.5rem;
}

.section-one-paragraph {
    margin: 2rem 0;
    width: 70%;
    max-width: 500px;
    line-height: 1.5rem;
}


.volunteerbutton {
    background: white;
    padding: 10px 20px;
    border-radius: 50px;
    font-size: 1rem;
    text-decoration: none;
    color: black;
    margin-right: 10px;
}

.donatebutton {
    background: white;
    padding: 10px 20px;
    border-radius: 50px;
    font-size: 1rem;
    text-decoration: none;
    color: black;
    margin-left: 10px;
}

.volunteerbutton:hover {
    background: #6c83ff;
    color: white;
}

.donatebutton:hover {
    background: #6c83ff;
    color: white;
}

/* Section Three */

.section-three h3 {
    margin: 0 auto;
    width: 80%;
    max-width: 700px;
    font-size: 2.5rem;
    font-weight: 600;
    text-align: center;
    padding-top: 5%;
}

/* Section Four */

.flex-group {
    display: flex;
    justify-content: ;
    align-items: center;
    gap: 3rem;
}

.section-four p {
    margin-bottom: 2rem;
}


.section-four-btn {
    margin-bottom: rem;
}

/* Section Five */

.section-five-flex-group {
    flex-direction: row-reverse;
}

.section-five p {
    margin-bottom: 2rem;
}

/* Section Six */

.section-six p {
    margin-bottom: 2rem;
}